<div class="page-navbar container">
    <div class="page-navbar-logo">
        <img src="assets/img/logo.svg" alt="">
    </div>
    <ul class="page-navbar-menu">
        <li class="page-navbar-menu-list" routerLink="/home"> Home</li>
        <li class="page-navbar-menu-list" routerLink="/about">About Us</li>
        <li class="page-navbar-menu-list" routerLink="/our">Our Products</li>
        <li class="page-navbar-menu-list" routerLink="/contact">Contacts</li>

    </ul>
    <ul class="page-navbar-lang">
        <li class="page-navbar-lang-item bg-purple">Vi</li>
        <li class="page-navbar-lang-item">En</li>
    </ul>
</div>