<div class="page">
  <app-header class="sticky"></app-header>
  <div class="container">
    <div class="section">
      <div class="contact">
        <div class="contact-left">
          <div class="contact-left-logo">
            <img src="assets/img/icon-cloud.png" alt="" />
          </div>
          <div class="contact-left-header">
            {{ "CONTACT.contact-us" | translate }}
          </div>
          <ul class="contact-left-list">
            <li>
              <img src="assets/img/contact/call.svg" alt="" /> +84.589.365.8
            </li>
            <li>
              <img src="assets/img/contact/email.svg" alt="" />
              Info@CloudDoctor.com
            </li>
            <li>
              <img src="assets/img/contact/location_on.svg" alt="" /> 4th floor,
              N03-T7 building, Ngoai Giao Doan, Hanoi
            </li>
          </ul>
          <div class="contact-left-btn">
            <button class="button-question">
              <div class="btn-t-gradient">
                {{ "CONTACT.question" | translate }}
              </div>
            </button>
          </div>
        </div>
        <div class="contact-right">
          <img
            class="home-center-right-img"
            src="assets/img/contact/map.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
