.page {
    background-color: var(white);
    .sticky {
        position: fixed;
        width: 100%;
    }
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 30px;
    .contact {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        background-color: #757FB7;
        border-radius: 30px;
        padding: 5em 5em 5em 7em;
        z-index: -1;
        .contact-left {
            width: 50%;
            padding: 1em;
            list-style: none;
            margin: 0;
            padding: 0;
            font-family: "OpenSans-Regular";
            .contact-left-logo {}
            .contact-left-header {
                font-size: 45px;
                font-weight: bold;
                color: #ffffff;
            }
            .contact-left-list {
                list-style: none;
                margin: 0;
                padding: 0;
                color: #ffffff;
                font-weight: 500;
                font-size: 18px;
                li {
                    display: flex;
                    padding-top: 0.5em;
                    img {
                        margin-right: 1.5em;
                        width: 20px;
                    }
                }
            }
            .contact-left-btn {
                padding: 1em 3em;
            }
        }
        .contact-right {
            padding: 1em;
            width: 50%;
            .home-center-right-img {
                width: 100%;
            }
        }
    }
}

.contact ::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #9FB9C8;
    top: 3%;
    left: 2%;
    position: absolute;
    z-index: -5;
    // transform: rotate(-2deg);
}

@media screen and (max-width: 769px) {
    .section {
        height: 100vh;
        .contact {
            display: flex;
            flex-direction: column;
            // margin: 5em 0;
            .contact-left {
                width: 100%;
                order: 2;
            }
            .contact-right {
                width: 100%;
                order: 1;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .section {
        height: 100vh;
        // height: auto !important;
        padding: 70px 16px 16px 16px;
        .contact {
            display: flex;
            flex-direction: column;
            padding: 0.5em 1em;
            border-radius: 30px;
            // height: 100%;
            // margin: 5em 0;
            .contact-left {
                width: 100%;
                order: 2;
                padding: 1em;
                .contact-left-logo {
                    padding-top: 1em;
                    img {
                        width: 50px;
                        object-fit: cover;
                    }
                }
                .contact-left-header {
                    font-size: 24px;
                }
                .contact-left-list {
                    font-size: 14px !important;
                    img {
                        width: 7%;
                    }
                }
                .contact-left-btn {
                    padding-left: 0px !important;
                    .button-question {
                        width: 137px;
                        height: 24px;
                        font-size: 14px;
                    }
                }
            }
            .contact-right {
                width: 100%;
                order: 1;
            }
        }
        .contact ::after {
            top: 5px;
            left: 5px;
            // transform: rotate(0deg);
        }
    }
}