<div class="page">
  <app-header class="sticky"></app-header>
  <div class="page-banner">
    <img class="page-banner-img" src="assets/img/our/our-banner.png" alt="" />
    <img
      class="page-banner-img-mobile"
      src="assets/img/our/our-banner-mobile.svg"
      alt=""
    />
  </div>
  <div class="container">
    <div class="our-card">
      <div class="our-card-content">
        <div class="our-card-content-header text-gradient f-left">
          {{ "OUR.What is our product?" | translate }}
        </div>
        <div class="our-card-content-text">
          {{ "OUR.Replacing" | translate }}
        </div>
      </div>
      <div class="our-card-banner">
        <img
          class="our-card-banner-img"
          src="assets/img/our/card-img-1.png"
          alt=""
        />
      </div>
    </div>
    <div class="our-card">
      <div class="our-card-banner">
        <img
          class="our-card-banner-img"
          src="assets/img/our/card-img-2.png"
          alt=""
        />
      </div>
      <div class="our-card-content">
        <div class="our-card-content-header text-gradient f-right">
          {{ "OUR.Why choose us?" | translate }}
        </div>
        <div class="our-card-content-text f-right">
          {{ "OUR.Applying" | translate }}
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
