.page {
    width: 100%;
    .sticky {
        position: fixed;
        width: 100%;
    }
    .page-banner {
        width: 100%;
        height: 100vh;
        // background-image: url('../../../assets/img/our/our-banner.png');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        .page-banner-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .page-banner-img-mobile {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.our-card {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .our-card-banner {
        width: 50%;
        padding: 1em;
        .our-card-banner-img {
            width: 100%;
            object-fit: cover;
        }
    }
    .our-card-content {
        padding: 1em;
        width: 50%;
        font-family: OpenSans-Regular;
        .our-card-content-header {
            font-size: 45px;
            font-weight: bold;
        }
        .our-card-content-text {
            padding-top: 1em;
            line-height: 1.5em;
            font-size: 18px;
            color: var(--color-text-content);
            text-align: justify;
            text-justify: inter-word;
        }
        .f-right {
            text-align: right;
        }
        .f-left {
            text-align: left;
        }
    }
}

@media screen and (max-width: 991px) {
    .our-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .our-card-content {
            width: 100%;
            order: 2;
            height: 50% !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .our-card-banner {
            width: 100%;
            height: 50% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            order: 1;
            .our-card-banner-img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media screen and(max-width: 770px) {
    .our-card {
        .our-card-banner {
            .our-card-banner-img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

@media screen and(max-width: 425px) {
    .our-card {
        .our-card-content {
            .our-card-content-header {
                font-size: 20px;
                // padding-bottom: 1em;
            }
            .our-card-content-text {
                font-size: 14px;
            }
            .f-left {
                text-align: center;
            }
        }
        .our-card-banner {}
    }
    .page {
        .page-banner {
            .page-banner-img {
                display: none !important;
            }
            .page-banner-img-mobile {
                display: block !important;
            }
        }
    }
}