<div class="page">
    <app-header class="sticky"></app-header>
    <div class="page-banner">
        <!-- <img class="page-banner-img" src="assets/img/our/our-banner.png" alt=""> -->
    </div>
    <div class="container">
        <div class="our-card">
            <div class="our-card-content">
                <div class="our-card-content-header text-gradient">
                    What is our product?
                </div>
                <div class="our-card-content-text">
                    Replacing the traditional paper based medical record, CloudDoctor is an Electronic Medical Record that helps you capture and store all relevant medical information such as the patient’s history, the results of your examination, the diagnosis, and your
                    plan. CloudDoctor includes secure messaging and video conferencing. All this with just a touch of your finger. And then CloudDoctor offers suggestions for care so that you provide better care for your patient!
                </div>

            </div>

            <div class="our-card-banner">
                <img class="our-card-banner-img" src="assets/img/our/card-img-1.png" alt="">
            </div>
        </div>


        <div class="our-card">
            <div class="our-card-banner">
                <img class="our-card-banner-img" src="assets/img/our/card-img-2.png" alt="">
            </div>
            <div class="our-card-content">
                <div class="our-card-content-header text-gradient f-right ">
                    Why choose us?
                </div>
                <div class="our-card-content-text f-right ">
                    Applying advanced science and technology, Cloud Doctor is capable of storing a great amount of data at the high level of security and linking different clinics and hospitals in the system, by which patient medical records can be preserved and transferred
                    between medical establishments. Furthermore, Cloud Doctor supports patients and their family with their self care at home by providing health advice and knowledge that can be accessed online.

                </div>

            </div>


        </div>
    </div>
    <app-footer></app-footer>
</div>