<div class="page-navbar container">
    <div class="page-navbar-logo">
        <img src="assets/img/logo.svg" alt="">
    </div>
    <ul class="page-navbar-menu">
        <li class="page-navbar-menu-list">Home</li>
        <li class="page-navbar-menu-list">About Us</li>
        <li class="page-navbar-menu-list">Our Products</li>
        <li class="page-navbar-menu-list">Contacts</li>
    </ul>
    <ul class="page-navbar-lang">
        <li class="page-navbar-lang-item bg-purple">Vi</li>
        <li class="page-navbar-lang-item">En</li>
    </ul>
</div>