.page {
    background-color: var(--background-color);
}

.about {
    border-top: 2px solid white;
    overflow: hidden;
}

//card
.about-card {
    border-radius: 30px;
    background-color: white;
    margin: 1em 0;
    padding: 3em;
    display: flex;
    .about-card-img {
        width: 100%;
    }
    .about-card-content {
        .content-text-header {
            font-size: 50px;
            font-weight: 500;
        }
        .content-text-content {
            font-size: 18px;
            color: var(--color-text-content);
            font-family: OpenSans-Regular;
            line-height: 1.5em;
            font-weight: 500;
            padding-top: 1em;
            word-break: keep-all;
        }
        .f-right {
            text-align: right;
            display: flex;
            justify-content: flex-end;
        }
        .content-text-list {
            font-size: 18px;
            color: var(--color-text-content);
            font-family: OpenSans-Regular;
            line-height: 1.5em;
            font-weight: 500;
            padding-top: 1em;
            word-break: keep-all;
            .content-text-list-label {
                color: black !important;
                font-weight: bold;
            }
            li {
                padding-top: 1em;
            }
        }
    }
    .f-botton {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .view-more {
        display: none;
        text-align: right;
        color: var(--color-link-active);
        font-weight: 500;
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .about-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-card-img {
            order: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1em;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .about-card-content {
            order: 2;
        }
    }
}

@media screen and (max-width: 425px) {
    .about-card {
        padding: 1em;
        .about-card-content {
            height: 300px;
            padding: 1em;
            overflow: hidden;
            .content-text-header {
                font-size: 20px;
            }
            img {
                height: 60px;
                width: 80px;
            }
            .content-text-content {
                font-size: 14px;
                padding-top: 0px;
                padding-bottom: 1em;
            }
            .content-text-list {
                font-size: 14px;
            }
        }
        .about-card-img {
            height: 170px;
            img {
                object-fit: cover;
                height: 170px;
                width: 150px;
            }
        }
        .view-more {
            display: block;
            order: 3;
        }
    }
}