<div class="page">
    <app-header></app-header>
    <div class="container about">
        <section>
            <div class="about-card">
                <div>
                    <img src="assets/img/icon-cloud.svg" alt="">
                    <div class="about-card-header text-gradient">
                        Ton's story, our vision
                    </div>
                    <div class="about-card-content">
                        “Every day doctors all over the world capture only a small portion of the data they see, but only a little bit of this information is captured. Imagine how much we could do if we could make it easy for doctors to capture that data while they are talking
                        with the patient, on a tablet and convert it into useful information. They could follow up with clients much more easily, make sure clients come back for follow up appointments and offer better care. We have to learn to use the
                        power of information technology to improve care at the community level!”

                    </div>
                    <div class="about-card-content">
                        CloudDoctor, founded by Dr. Ton van der Velden MD MPH, was built to help doctors in middle income countries capture and store the medical data they collect from their clients and convert it into information that can help them provide better care. Ton
                        has worked in middle income countries for the last 30 years, helping to build strong medical systems, teaching and advising Ministries of Health, hospitals and small private clinics. Our vision is to be a leader in providing easy-to-use
                        EMR systems and improve the health and wellbeing of people in low and middle income countries.
                    </div>
                </div>
                <div>
                    <img src="assets/img/about/image1.svg" alt="">
                </div>

            </div>
        </section>

        <section class="section2">
            <div class="about-card">
                <div>
                    <img src="assets/img/about/image3.svg" alt="">
                </div>
                <div>
                    <img src="assets/img/icon-cloud.svg" alt="">
                    <div class="about-card-header text-gradient text-right">
                        Why CloudDoctor was found? <br> Our mission

                    </div>
                    <div class="about-card-content text-right">
                        Cloud Doctor is built based on a deep understanding of the medical industry in Vietnam and other developing countries in general. We recognized that healthcare is changing and so are the demands and expectations of communities, patients, and their caregivers,
                        all of which pose new challenges in terms of how services are funded, planned and delivered.
                    </div>
                    <div class="about-card-content text-right">
                        Therefore, we have a long-nurtured ambition to improve and revolutionize the medical system not just in Vietnam but also other developing countries. This is where Cloud Doctor was founded, carrying out a mission to provide client-focused health information
                        services to enable doctors to provide high quality patient care.
                    </div>
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="about-card">
                <div>
                    <img src="assets/img/icon-cloud.svg" alt="">
                    <div class="about-card-header text-gradient">
                        Our values
                    </div>
                    <div class="about-card-content">
                        “Every day doctors all over the world capture only a small portion of the data they see, but only a little bit of this information is captured. Imagine how much we could do if we could make it easy for doctors to capture that data while they are talking
                        with the patient, on a tablet and convert it into useful information. They could follow up with clients much more easily, make sure clients come back for follow up appointments and offer better care. We have to learn to use the
                        power of information technology to improve care at the community level!”

                    </div>
                    <div class="about-card-content">
                        CloudDoctor, founded by Dr. Ton van der Velden MD MPH, was built to help doctors in middle income countries capture and store the medical data they collect from their clients and convert it into information that can help them provide better care. Ton
                        has worked in middle income countries for the last 30 years, helping to build strong medical systems, teaching and advising Ministries of Health, hospitals and small private clinics. Our vision is to be a leader in providing easy-to-use
                        EMR systems and improve the health and wellbeing of people in low and middle income countries.
                    </div>
                </div>
                <div>
                    <img src="assets/img/about/image3.svg" alt="">
                </div>

            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>