<div class="page">
    <!--  show menu -->
    <div class="page-navbar container">
        <div class="page-navbar-logo">
            <img src="assets/img/logo.svg" alt="">
        </div>
        <ul class="page-navbar-menu">
            <li class="page-navbar-menu-list" (click)="activeLink(1)">Home</li>
            <li class="page-navbar-menu-list" (click)="activeLink(2)">About Us</li>
            <li class="page-navbar-menu-list" (click)="activeLink(3)">Our Products</li>
            <li class="page-navbar-menu-list" (click)="activeLink(4)">Contacts</li>
        </ul>
        <ul class="page-navbar-lang">
            <li class="page-navbar-lang-item bg-purple">Vi</li>
            <li class="page-navbar-lang-item">En</li>
        </ul>
    </div>

    <!-- show pages  -->
    <ul class="center">
        <li *ngIf="select == 1">
            <app-home></app-home>
            <hr>
        </li>
        <li *ngIf="select == 2">
            <app-about></app-about>
        </li>
        <li *ngIf="select == 3">
            <app-our></app-our>
        </li>
        <li *ngIf="select == 4">
            <app-contact></app-contact>
        </li>
    </ul>

    <!-- show footer -->
    <app-footer></app-footer>
</div>