<div class="footer">
    <div class="page-footer container">
        <div class="page-footer-left">
            <img class="page-footer-left-logo" src="assets/img/logo-footer.svg" alt="" />
            <div>
                {{ "FOOTER.EMR" | translate }}<br /> {{ "FOOTER.Tranfomrs" | translate }}
            </div>
        </div>
        <ul class="page-footer-right">
            <li><img src="assets/img/icon/icon-phone.svg" alt="" /> <span>+84.589.365.8</span></li>
            <li>
                <img src="assets/img/icon/icon-email.svg" alt="" /> <span>Info@CloudDoctor.com</span>
            </li>
            <li>
                <img src="assets/img/icon/icon-location.svg" alt="" /> <span> {{ "FOOTER.address" | translate }}</span>
            </li>
        </ul>
    </div>
</div>