<div class="footer">
  <div class="page-footer container">
    <div class="page-footer-left">
      <img
        class="page-footer-left-logo"
        src="assets/img/logo-footer.svg"
        alt=""
      />
      <div>
        {{ "FOOTER.EMR" | translate }}<br />
        {{ "FOOTER.Tranfomrs" | translate }}
      </div>
    </div>
    <ul class="page-footer-right">
      <li><img src="assets/img/icon/icon-phone.svg" alt="" /> +84.589.365.8</li>
      <li>
        <img src="assets/img/icon/icon-email.svg" alt="" /> Info@CloudDoctor.com
      </li>
      <li>
        <img src="assets/img/icon/icon-location.svg" alt="" /> 4th floor, N03-T7
        building, Ngoai Giao Doan, Hanoi
      </li>
    </ul>
  </div>
</div>
