.footer {
    width: 100%;
    //     height: 100vh;
    background-color: var(--background-color);
    border-top: 1px solid white;
    .page-footer {
        color: var(--color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        .page-footer-left {
            font-family: Montserrat-SemiBold;
            font-size: 18px;
            //max-width: 300px;
            .page-footer-left-logo {
                margin-bottom: 20px;
            }
        }
        .page-footer-right {
            list-style: none;
            margin: 0px;
            font-family: OpenSans-Regular;
            font-size: 16px;
            li {
                margin: 10px 0px;
                line-height: 1.5em;
                img {
                    padding-right: 1em;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .page-footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px 0px;
        .page-footer-left {
            font-size: 16px !important;
            width: 100%;
            padding-left: 1.5em;
            .page-footer-left-logo {
                width: 200px !important;
                object-fit: cover;
            }
        }
        .page-footer-right {
            padding-left: 1.5em;
        }
    }
}