.page {
    background-color: var(--background-color);
}

.home-center {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    .home-center-left {
        color: var(--color-light);
        .home-center-left-header {
            font-size: 50px;
            font-family: Montserrat-SemiBold;
        }
        .home-center-left-text {
            font-size: 18px;
            margin: 16px 0px;
        }
    }
    .home-center-right {
        .home-center-right-img {
            width: 650px;
        }
    }
}