<div class="page">
  <app-header class="sticky"></app-header>
  <div class="container">
    <div class="home-center">
      <div class="home-center-left">
        <img class="logo-desktop" src="assets/img/logo-big.svg" alt="" />

        <div class="home-center-left-header">
          {{ "HOME.TITLE" | translate }}, <br />
          {{ "HOME.Tranfomrs-home" | translate }}
        </div>
        <div class="home-center-left-text">
          {{ "HOME.saving" | translate }} <br />
          {{ "HOME.more" | translate }}
        </div>
        <button class="button-getApp">{{ "HOME.get" | translate }}</button>
      </div>
      <div class="home-center-right">
        <img
          class="home-center-right-img"
          src="assets/img/home/home-banner.svg"
          alt=""
        />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
