<div class="page">
    <div class="page-navbar container">
        <div class="page-navbar-logo">
            <img src="assets/img/logo.svg" alt="">
        </div>
        <ul class="page-navbar-menu">
            <li class="page-navbar-menu-list">Home</li>
            <li class="page-navbar-menu-list">About Us</li>
            <li class="page-navbar-menu-list">Our Products</li>
            <li class="page-navbar-menu-list">Contacts</li>
        </ul>
        <ul class="page-navbar-lang">
            <li class="page-navbar-lang-item bg-purple">Vi</li>
            <li class="page-navbar-lang-item">En</li>
        </ul>
    </div>
    <div class="home-center container">
        <div class="home-center-left">
            <img src="assets/img/logo-big.svg" alt="">
            <div>CloudDoctor, Transform healthcare</div>
            <div>
                Saving your time, saving your money more than an app
            </div>
        </div>
        <div class="home-center-right">
            <img class="home-center-right-img" src="assets/img/home/home-banner.svg" alt="">
        </div>
    </div>
    <div class="page-footer container">
        <div class="page-footer-left">
            <img class="page-footer-left-logo" src="assets/img/logo-footer.svg" alt="">
            <div>
                Electronic Medical Records <br> are transforming healthcare system
            </div>
        </div>
        <ul class="page-footer-right">
            <li> <img src="assets/img/icon/icon-phone.svg" alt=""> +84.589.365.8</li>
            <li> <img src="assets/img/icon/icon-email.svg" alt=""> Info@CloudDoctor.com</li>
            <li> <img src="assets/img/icon/icon-location.svg" alt=""> 4th floor, N03-T7 building, Ngoai Giao Doan, Hanoi</li>
        </ul>
    </div>
</div>