<div class="page">
    <app-header class="sticky"></app-header>
    <div class="home-center container">

        <div class="home-center-left">
            <img class="logo-desktop" src="assets/img/logo-big.svg" alt="">
            <img class="logo-mobile" src="assets/img/logo-mobile.svg" alt="">

            <div class="home-center-left-header">CloudDoctor, <br> Transform healthcare</div>
            <div class="home-center-left-text">
                Saving your time, saving your money <br> more than an app
            </div>
            <button class="button-getApp">
                Get the app
            </button>
        </div>
        <div class="home-center-right">
            <img class="home-center-right-img" src="assets/img/home/home-banner.svg" alt="">
        </div>
    </div>
    <app-footer></app-footer>
</div>